<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.7.xsd">
	
	<context:property-placeholder location="#{(systemProperties['confpath']?:'classpath:')+'conf/rabbitmq.properties'}"/>
	
	<!-- 定义连接工厂 -->
	<rabbit:connection-factory id="rabbitConnectionFactory" host="${rabbit.host}" username="${rabbit.username}"
		password="${rabbit.password}" port="${rabbit.port}" virtual-host="${rabbit.virtual.host}" 
		channel-cache-size="${rabbit.channel.cache.size}" publisher-confirms="true" publisher-returns="true"/>

	<!-- 定义admin, producer中的exchange,queue会自动的利用该admin自动在spring中生成 -->
	<rabbit:admin connection-factory="rabbitConnectionFactory"/>
	
	<!-- 定义交换机，与各项目队列绑定关系 -->
	<rabbit:direct-exchange name="${rabbit.exchange.direct}" durable="true" auto-delete="false"/>
    
    <!-- 定义json消息转换器 -->
	<bean id="rabbitMessageConverter" class="com.homw.message.amq.RabbitmqMessageConverter"/>
	
	<!-- 定义消息投递至交换机确认回调 -->
	<bean id="rabbitConfirmCallback" class="com.homw.message.amq.RabbitmqConfirmCallback"/>
	
	<!-- 定义消息投递至队列失败回调 -->
	<bean id="rabbitReturnCallback" class="com.homw.message.amq.RabbitmqReturnCallback"/>
	
	<!-- 定义rabbitmq模板，指定连接工厂，exchange，queue等 -->
	<rabbit:template id="rabbitTemplate" exchange="${rabbit.exchange.direct}" connection-factory="rabbitConnectionFactory" 
		message-converter="rabbitMessageConverter" confirm-callback="rabbitConfirmCallback" return-callback="rabbitReturnCallback" mandatory="true"/>
		
	<!-- 定义项目队列 -->
	<rabbit:queue name="${rabbit.queue}" durable="true" auto-delete="false" exclusive="false"/>

	<!-- 定义交换机，与项目队列绑定关系 -->
	<rabbit:direct-exchange name="${rabbit.exchange.direct}" durable="true" auto-delete="false">
		<rabbit:bindings>
			<rabbit:binding queue="${rabbit.queue}" key="${rabbit.routing.key}" />
		</rabbit:bindings>
	</rabbit:direct-exchange>
	
	<!-- 定义消费者监听器 -->
	<bean id="rabbitmqMessageListener" class="com.homw.message.amq.RabbitmqMessageListener"/>
	
	<!-- 定义监听器与队列绑定关系 -->
	<rabbit:listener-container connection-factory="rabbitConnectionFactory" acknowledge="manual">
		<rabbit:listener ref="rabbitmqMessageListener" queue-names="${rabbit.queue}"/>
	</rabbit:listener-container>
</beans>