<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:websocket="http://www.springframework.org/schema/websocket"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/websocket
        http://www.springframework.org/schema/websocket/spring-websocket.xsd">
        
    <!-- WebSocket Handler -->
	<bean id="webSocketHandler" class="com.homw.test.websocket.WebSocketHandler"/>
	
	<!-- WebSocket -->
	<websocket:handlers allowed-origins="*">
	    <websocket:mapping path="/**/ws" handler="webSocketHandler"/>  
	    <websocket:handshake-interceptors>
	    	<bean class="com.homw.test.websocket.WebSocketInterceptor"/>
	    </websocket:handshake-interceptors>
	</websocket:handlers>
	
	<!-- 允许客户端使用SockJS -->
	<websocket:handlers allowed-origins="*">
	    <websocket:mapping path="/**/sockjs" handler="webSocketHandler"/>  
	    <websocket:handshake-interceptors>
	    	<bean class="com.homw.test.websocket.WebSocketInterceptor"/>
	    </websocket:handshake-interceptors>
	    <websocket:sockjs/>
	</websocket:handlers>
	
	<!-- ServerContainer配置 -->
	<bean class="org.springframework.web.socket.server.standard.ServletServerContainerFactoryBean">
        <property name="maxTextMessageBufferSize" value="102400"/>
        <property name="maxBinaryMessageBufferSize" value="102400"/>
    </bean>
</beans>